.landingPage{
    background: peachpuff;
    clip-path: polygon(74% 0, 100% 51%, 82% 100%, 0 100%, 0 0);
}
.title{
    font-family: 'Thasadith', sans-serif;
    color: rgb(156, 117, 85)
}
/* https://css-tricks.com/books/volume-i/animate-text-like-typewriter/ */
.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(247, 195, 118);
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .10em;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(230, 162, 100); }
}
.subtitle{
    color:rgb(196, 151, 115);
    font-family: 'Cormorant', serif;
}

.column{
    display:inline-block;
    text-align: center;
}
.navbar{
    background: peachpuff
}
.columns{
    padding-top: 5%
}
.card-footer{
    background: peachpuff;
}
a{
    color: rgb(156, 117, 85)
}

