<form action="/{{userId}}?_method=PATCH" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <input type="text" name="img" placeholder="Image" value="">
    <button type="submit">Post</button>
</form>