
<section class="hero landingPage is-fullheight animated fadeInRight">
    <div class="hero-body">
        <div class="container">

            <h1 class="title is-1 animated flash typewriter" style="color: rgb(202, 155, 117)">
                Welcome to <strong> <br> Virtual Closet</strong> 
            </h1>

            <a href="/users" class="mainButton button is-white animated fadeInRight">
                <h2 class="subtitle" style="color: rgb(202, 155, 117)">
                    start organizing!
                </h2>
            </a>
        </div>
    </div>
</section>
