<section class="hero is-success is-fullheight" style="background:papayawhip">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="color: black">
                Welcome
            </h1>

            <a href="/users" class="button is-white">
                <h2 class="subtitle" style="color: black">
                    start organizing!
                </h2>
            </a>
        </div>
    </div>
</section>