<h1>{{userId.name}}</h1>
<a href="/users/{{userId._id}}/edit" class="button is-black">edit profile</a>
<form action="/users/{{userId._id}}?_method=DELETE" method="POST">
    <button class="button is-black" type="submit">Delete</button>
</form>
