<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
    </div>
</nav>


<h1>create a category</h1>
<form action="/users/{{userId}}/closets" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="img" placeholder="Image" value="">
    <button type="submit">Post</button>
</form>